<form action="/cart" method="post" id="cart-regular-form">
    <div class="block w-full md:mb-50 mxmd:mb-25px border border-gray">
        <h3 class="uppercase text-base font-bold p-5 mxmd:text-center mxmd:border-b mxmd:border-gray">Shopping bag</h3>
        <table class="table-auto w-full">
            <thead class="mxmd:hidden">
                <tr class="bg-light-gray">
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Image</th>
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Products</th>
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Size</th>
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Price</th>
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Quantity</th>
                    <th class="text-base font-bold tracking-wider uppercase px-5 py-2 text-left">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in cart.items %}
                <noscript>
                    {{ item.variant.options }}
                </noscript>
                {%- unless item.product.tags contains 'GWP' or item.product.tags contains 'gwp' or item.product.tags contains 'Gwp' -%}
                    {%- assign img_url = item.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {% assign split_title = item.title | split: '-' %}
                    <tr id="item_{{item.id}}" class="cart-regular-item" data-id="{{item.id}}">
                        <td class="md:px-4 mxmd:w-1/3 mxmd:pl-25px">
                            <div class="min-h-100px min-w-100px my-4 block w-full">
                            <a class="relative h-0 block" href="{{item.url}}" style="padding-bottom: {% if item.image != blank %}{{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}{% else %}100{% endif %}%">
                                <img
                                    class="lazyload w-full h-auto absolute top-0 left-0"
                                    alt="{{ split_title[1] }}"
                                    data-src="{{ img_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ preview_image.aspect_ratio }}"
                                    data-sizes="auto"
                                    data-image
                                    src="{{item.image | img_url: '10x' }}">
                            </a>
                            </div>
                        </td>
                        <td class="md:px-4 md:py-6 mxmd:w-1/3 mxmd:py-25px mxmd:pl-2">
                            <h1 class="uppercase md:text-base mxmd:text-sm font-bold">
                                <a href="{{item.url}}" title="{{ split_title[1] }}" class="block">
                                {{ split_title[1] }}
                                </a>
                            </h1>
                            <h3 class="uppercase md:text-base mxmd:text-sm font-light">
                            {%- unless item.product.has_only_default_variant -%}
                            {%- for option in item.options_with_values -%}
                                {%- if option.selected_value == value -%}
                                {{ option.value }}{% unless forloop.last %}, {% endunless %}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- endunless -%}
                            </h3>
                            {%- assign qty = item.variant.inventory_quantity -%}
                            <div class="inline-block relative md:hidden mt-4 mxmd:w-20">
                            <select name="updates[]" id="update_qty_{{item.id}}" data-id="{{ item.variant.id }}" class="update_qty text-sm font-light cart-select block appearance-none w-full bg-white border border-gray px-4 py-2 pr-8 leading-tight focus:border-gray focus:shadow-none">
                                {% for i in (i..qty) %}
                                <option {% if i == item.quantity %}selected{% endif %} value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                            <div id="update_qty_pointer_{{item.id}}" class="cart-select-pointer pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                            </div>
                        </td>
                        <td class="w-24 mxmd:hidden">
                            {%- unless item.product.has_only_default_variant -%}
                            {%- for opt in item.product.options -%}
                                {%- if opt == 'Size' or opt == 'Volume' %}
                                    {%- assign size_index = forloop.index | minus: 1 -%}
                                    {%- assign size_title = opt -%}
                                {%- endif -%}
                            {%- endfor -%} 
                            {%- assign current_selected_variant = item.variant.title -%}
                            {%- assign with_variant = false -%}
                            {% for option in item.product.options_with_values %}
                                {% if option.name == size_title %}
                                    {% for variant in item.product.variants %}
                                        {%- assign with_variant = true -%}
                                    {% endfor %}          
                                {% endif %}
                            {% endfor %}
                            {% if with_variant %}     
                            <div class="inline-block relative w-full">
                                <select name="id" id="update_variant_{{item.id}}" class="text-sm font-light cart-select block appearance-none w-full bg-white border border-gray px-4 py-2 pr-8 leading-tight focus:border-gray focus:shadow-none">  
                                {% for option in item.product.options_with_values %}
                                    {% if option.name == size_title %}
                                    {% for variant in item.product.variants %}
                                        {%- assign size = variant.options[size_index] -%}
                                        {% unless sizes contains size %}
                                        {% assign sizes = sizes | join: ',' %}
                                        {% assign sizes = sizes | append: ',' | append: color %} 
                                        {% assign sizes = sizes | split: ',' %}
                                        <option value="{{ variant.id }}" {% if size == current_selected_variant %}selected{% endif %}>{{size}}</option>
                                        {% endunless %}
                                    {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </select>
                                <div id="update_variant_pointer_{{item.id}}" class="cart-select-pointer pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                            {% endif %}
                            {%- endunless -%}
                        </td>
                        <td class="md:px-4 mxmd:hidden">
                            <span class="text-sm font-light">
                            {{ item.final_price | money }}
                            </span>
                        </td>
                        <td class="md:px-8 mxmd:hidden">
                            {%- assign qty = item.variant.inventory_quantity -%}
                            <div class="inline-block relative w-full">
                            <select name="updates[]" id="update_qty_{{item.id}}" data-id="{{ item.variant.id }}" class="update_qty text-sm font-light cart-select block appearance-none w-full bg-white border border-gray px-4 py-2 pr-8 leading-tight focus:border-gray focus:shadow-none">
                                {% for i in (i..qty) %}
                                <option {% if i == item.quantity %}selected{% endif %} value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                            <div id="update_qty_pointer_{{item.id}}" class="cart-select-pointer pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                            </div>
                        </td>
                        <td class="md:px-4 mxmd:pr-25px mxmd:w-1/3 mxmd:pl-2 relative">
                            <span class="text-sm font-bold block mxmd:text-center">
                            {{ item.final_line_price | money }}
                            </span>
                            <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" title="Remove item" class="mxmd:text-danger text-xsm font-bold uppercase underline block text-right absolute bottom-20px right-20px">Remove</a>
                        </td>
                    </tr>
                {%- endunless -%}
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>