<div class="mx-auto my-12 account mxmd:mt-12">
  <div class="grid">
    <div class="grid__item">

      <div class="mx-auto max-w-400px mxmd:w-full mxmd:px-4 form-vertical">

        <h1 class="mb-4 text-center uppercase">{{ 'customer.reset_password.title' | t }}</h1>

        {% form 'reset_customer_password' %}

        <p class="mb-4 text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {%- if form.errors -%}
          <div class="form-message form-message--error text-danger">
            {{ form.errors | default_errors }}
          </div>
        {%- endif -%}
        
        <div class="flex flex-wrap">
          <label class="hidden" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
          <input placeholder="Password" type="password" value="" name="customer[password]" id="ResetPassword" class="w-full mb-4{% if form.errors contains 'password' %} input--error{% endif %}">
  
          <label class="hidden" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input placeholder="Confirm Password" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="w-full mb-4{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
        </div>

        <input type="submit" class="w-full font-bold text-center text-white uppercase bg-black btn" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}
        
      </div>
    </div>
  </div>
</div>

{%comment%}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="text-center btn" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
{%endcomment%}
