<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    <style>
      .fieldset-description[data-buyer-accepts-marketing], .logged-in-customer-newsletter[data-buyer-accepts-marketing] {
        display: none;
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24603365-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date()); 
      gtag('config', 'UA-24603365-6');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3371189656296022');
    fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->

    {{ content_for_header }}

    {{ checkout_stylesheets }}
      <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    {{ 'app.css' | asset_url | stylesheet_tag }}
    {{ 'checkout.css' | asset_url | stylesheet_tag }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}
    
    <div class="co-content pt-6 md:pt-16 relative z-10" data-content>
      <div class="co-wrap">
        <div class="px-8 inline-block w-auto">
          {{ content_for_logo }}
         
        </div>
        <div class="px-8"><hr class="mt-6 divider" /></div>
      </div>
      <div class="co-wrap block lg:flex flex-row-reverse -mx-8 pt-10">
		<aside class="co-sidebar px-8 mb-8 lg:mb-0" role="complementary">
          <h1 class="page-title uppercase text-lg font-extrabold mb-8 block lg:hidden">Checkout</h1>
          <div class="sidebar__header">
            {{ content_for_logo }}

          </div>
          <div class="sidebar__content">
            <h3 class="sidebar__content-title uppercase text-lg font-extrabold mb-4">items in your bag</h3>
            {{ content_for_order_summary }}
          </div>
        </aside>
        
        <div class="co-main flex-1 px-8 mb-16">
            <h1 class="page-title uppercase text-lg font-extrabold mb-8 hidden lg:block">Checkout</h1>
          <header class="co-main__header" role="banner">
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main" data-main-content>

            
            <div class="inner-wrap" data-main-innerwrap>
            	{{ content_for_layout }}
            </div>
            
            <div class="mt-8" data-ajax-content></div>
            <div class="mt-8" data-ajax-next-stepfooter></div>
          </main>
          
        </div>
        
        
      </div>
      
      <footer class=" co-main__footer" role="contentinfo">
        <a href="/" class="mxsm:w-20px">
        	<svg width="73" height="75" viewBox="0 0 73 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.5305 25.4557H12.3713V0.026123H1.86426V35.0522H32.5305V25.4557Z" fill="#ffffff"/>
                <path d="M61.7323 43.7589C61.7174 43.7247 61.6576 43.6845 61.6292 43.6882C61.607 43.6952 61.5867 43.7072 61.5699 43.7233C61.5532 43.7395 61.5405 43.7593 61.5328 43.7812C61.5049 43.8632 61.4955 43.9504 61.5052 44.0364C61.5612 44.3266 61.6307 44.6146 61.698 44.9025C61.7147 44.9588 61.7352 45.014 61.7592 45.0677C61.7698 45.0578 61.7796 45.0471 61.7884 45.0357C61.8049 45.0013 61.8193 44.966 61.8317 44.93C61.9107 44.6794 61.9245 44.4129 61.8721 44.1555C61.8388 44.019 61.7919 43.8862 61.7323 43.7589Z" fill="#ffffff"/>
                <path d="M54.395 50.9781C54.2882 51.4357 54.3906 51.8545 54.6409 52.2556C54.6484 52.2392 54.6543 52.2325 54.6543 52.2258C54.693 51.8407 54.6619 51.4519 54.5624 51.0778C54.5605 51.059 54.5542 51.041 54.544 51.0251C54.5338 51.0092 54.5201 50.9959 54.5038 50.9862C54.4876 50.9765 54.4693 50.9707 54.4504 50.9693C54.4315 50.9679 54.4126 50.9709 54.395 50.9781Z" fill="#ffffff"/>
                <path d="M55.3499 56.1767L71.4904 39.9717H58.303L48.5485 49.7788V39.9717H39.1152V74.9985H48.5485V62.5248L60.1756 75H72.9999L55.3499 56.1767ZM57.3204 47.0251C57.3606 47.0142 57.4031 47.0149 57.4428 47.0273C57.4825 47.0397 57.5179 47.0632 57.5446 47.095C57.5719 47.1291 57.595 47.1663 57.6133 47.2059C57.7628 47.5593 57.987 47.8688 58.1999 48.1851C58.3568 48.4177 58.514 48.6501 58.6714 48.8822C58.6864 48.9045 58.7028 48.9261 58.7185 48.9477L58.7409 48.9425C58.7275 48.8487 58.7207 48.7535 58.7006 48.6605C58.6356 48.351 58.5593 48.0415 58.572 47.7245C58.5861 47.4611 58.6156 47.1988 58.6602 46.9388C58.6977 46.766 58.7994 46.6137 58.9449 46.5125C59.0353 46.4381 59.2139 46.4611 59.3454 46.5482C59.5308 46.6702 59.6443 46.854 59.7736 47.0266C59.8162 47.0854 59.8543 47.1471 59.9074 47.2282C59.9335 47.1635 59.9559 47.1189 59.9701 47.072C59.997 46.9834 60.0239 46.8942 60.0449 46.8041C60.0826 46.649 60.1729 46.5116 60.3004 46.415C60.3531 46.3748 60.416 46.3501 60.482 46.3437C60.548 46.3373 60.6146 46.3493 60.6741 46.3785C60.8022 46.4308 60.927 46.4909 61.0477 46.5586C61.2306 46.6574 61.4297 46.7229 61.6358 46.7521C61.9234 46.7945 62.0587 46.6375 62.1446 46.3882C62.169 46.3409 62.1736 46.286 62.1573 46.2354C62.1411 46.1847 62.1053 46.1426 62.058 46.1181C61.7591 45.9113 61.5939 45.5973 61.4602 45.2684C61.3024 44.8936 61.2034 44.4969 61.1665 44.0921C61.1512 43.9769 61.1596 43.8597 61.1912 43.7478C61.2228 43.6359 61.2769 43.5315 61.3503 43.4411C61.3798 43.4043 61.4163 43.3737 61.4578 43.3511C61.4993 43.3285 61.5449 43.3143 61.5919 43.3095C61.6389 43.3046 61.6865 43.3092 61.7317 43.3228C61.777 43.3365 61.819 43.359 61.8554 43.389C62.037 43.5244 62.1065 43.7186 62.1543 43.9277C62.2668 44.4171 62.221 44.9293 62.0236 45.3912C62.0071 45.4192 61.9999 45.4517 62.003 45.484C62.0061 45.5163 62.0193 45.5468 62.0408 45.5713C62.118 45.6726 62.2035 45.7674 62.2963 45.8547C62.3238 45.8812 62.357 45.9012 62.3933 45.913C62.4297 45.9248 62.4683 45.9282 62.5061 45.923C62.544 45.9178 62.5802 45.904 62.612 45.8828C62.6437 45.8615 62.6702 45.8334 62.6894 45.8004C62.7595 45.7103 62.812 45.6078 62.8441 45.4984C62.9479 45.0735 63.0443 44.6457 63.1295 44.2164C63.2199 43.7625 63.2917 43.3057 63.3746 42.8503C63.3948 42.7402 63.4568 42.6807 63.5241 42.6881C63.5698 42.6979 63.6107 42.7234 63.6395 42.7601C63.6683 42.7968 63.6833 42.8425 63.6817 42.889C63.6769 42.9815 63.6656 43.0734 63.6481 43.1643C63.5218 43.8659 63.3985 44.5683 63.2618 45.2677C63.2268 45.5001 63.1438 45.7228 63.0182 45.9217C62.8979 46.0958 62.7559 46.2446 62.522 46.2803C62.5312 46.4443 62.4877 46.6069 62.3979 46.7446C62.2306 46.9968 61.9802 47.0831 61.6933 47.0884C61.3907 47.0936 61.1142 46.9916 60.8467 46.8651C60.7719 46.8294 60.7024 46.7863 60.6277 46.7528C60.4999 46.6962 60.4252 46.7305 60.3849 46.8629C60.2899 47.1746 60.2766 47.5052 60.346 47.8235C60.3606 47.887 60.3716 47.9514 60.3789 48.0162C60.3879 48.1263 60.3542 48.1873 60.2773 48.2178C60.2368 48.231 60.1932 48.2309 60.1528 48.2175C60.1124 48.2041 60.0775 48.1781 60.0531 48.1434C59.9701 48.0296 59.8947 47.909 59.8192 47.79C59.6937 47.5921 59.5778 47.3882 59.4456 47.1948C59.3762 47.1007 59.2965 47.0146 59.208 46.9381C59.1153 46.8518 59.048 46.8733 59.0099 46.9931C58.9137 47.273 58.8855 47.5716 58.9277 47.8644C58.9965 48.2825 59.0876 48.6977 59.1855 49.1106C59.2543 49.3986 59.3567 49.6783 59.4336 49.9648C59.4572 50.0442 59.4572 50.1287 59.4336 50.2081C59.4268 50.2338 59.4127 50.2571 59.3931 50.2752C59.3734 50.2933 59.3491 50.3055 59.3228 50.3103C59.2964 50.3151 59.2693 50.3124 59.2445 50.3025C59.2197 50.2926 59.1982 50.2758 59.1825 50.2542C59.0635 50.1201 58.9544 49.9777 58.856 49.8279C58.3803 49.1077 57.907 48.3854 57.4362 47.6613C57.3701 47.552 57.311 47.4386 57.2591 47.322C57.2419 47.2847 57.2337 47.2439 57.2352 47.2029C57.2337 47.1323 57.2345 47.0564 57.3204 47.0266V47.0251ZM55.0592 51.7125C55.0441 51.7644 55.0331 51.8174 55.0264 51.871C55.0264 51.996 55.0346 52.1217 55.0264 52.243C55.0213 52.3702 55.0033 52.4966 54.9726 52.6202C54.9618 52.6636 54.9403 52.7035 54.9099 52.7363C54.8795 52.7691 54.8413 52.7937 54.7988 52.8079C54.7563 52.822 54.7109 52.8253 54.6669 52.8173C54.6228 52.8094 54.5814 52.7905 54.5466 52.7623C54.4907 52.723 54.4438 52.6723 54.4091 52.6135C54.1608 52.2081 54.0159 51.7483 53.9869 51.2743C53.9781 51.1627 53.9944 51.0506 54.0346 50.9461C54.0748 50.8415 54.1379 50.7473 54.2193 50.6701C54.229 50.6612 54.238 50.6471 54.25 50.6433C54.4039 50.5898 54.5578 50.5355 54.7133 50.4856C54.7279 50.4792 54.7437 50.476 54.7597 50.4764C54.7756 50.4768 54.7913 50.4807 54.8056 50.4878C54.8199 50.4949 54.8324 50.505 54.8423 50.5175C54.8521 50.53 54.8591 50.5445 54.8627 50.56C54.9748 50.7996 55.0869 51.0384 55.2109 51.2713C55.2759 51.3877 55.3509 51.4982 55.4351 51.6017C55.5046 51.6909 55.5711 51.685 55.6271 51.5868C55.6611 51.5217 55.6862 51.4524 55.7019 51.3807C55.788 50.9896 55.8319 50.5906 55.8326 50.1902C55.8367 50.0474 55.7971 49.9068 55.7191 49.787C55.4261 49.3115 55.1422 48.8309 54.8537 48.3532C54.8074 48.2788 54.7544 48.2044 54.6961 48.1173C54.6737 48.1486 54.6565 48.1702 54.6415 48.1918C54.4398 48.499 54.244 48.81 54.0333 49.1114C53.9429 49.2265 53.8429 49.3337 53.7344 49.4321C53.697 49.4693 53.6425 49.5065 53.5961 49.4648C53.5747 49.4488 53.5568 49.4286 53.5434 49.4055C53.53 49.3824 53.5215 49.3568 53.5183 49.3303C53.5151 49.3039 53.5173 49.277 53.5247 49.2514C53.5322 49.2258 53.5448 49.202 53.5618 49.1813C53.8517 48.723 54.1439 48.2664 54.4383 47.8116C54.4548 47.7905 54.4643 47.7647 54.4652 47.738C54.4662 47.7113 54.4586 47.6849 54.4435 47.6627C54.2365 47.2758 54.0295 46.8897 53.8278 46.5006C53.7531 46.3518 53.6865 46.194 53.6208 46.0385C53.6022 45.9988 53.5989 45.9536 53.6116 45.9116C53.6243 45.8697 53.652 45.8338 53.6895 45.8108C53.7249 45.7916 53.7663 45.7865 53.8053 45.7966C53.8443 45.8067 53.878 45.8312 53.8995 45.8652C53.9442 45.9235 53.983 45.986 54.0153 46.0519C54.2066 46.4195 54.3949 46.787 54.5855 47.1553C54.5967 47.1769 54.6099 47.1973 54.6251 47.2163C54.6938 47.3011 54.7342 47.3086 54.7984 47.2208C54.9576 47.0035 55.1071 46.7796 55.258 46.5571C55.4665 46.2506 55.672 45.9425 55.8797 45.636C55.8987 45.6072 55.9267 45.5852 55.9593 45.5736C55.9919 45.5619 56.0274 45.5611 56.0606 45.5713C56.0911 45.5775 56.118 45.5956 56.1352 45.6216C56.1524 45.6475 56.1586 45.6792 56.1525 45.7097C56.1473 45.7928 56.1246 45.8739 56.086 45.9478C55.9133 46.2253 55.7288 46.4954 55.5502 46.7662C55.3537 47.0675 55.1579 47.3689 54.9666 47.6732C54.9564 47.6925 54.9504 47.7138 54.9491 47.7356C54.9478 47.7574 54.9512 47.7793 54.9591 47.7997C55.051 47.9812 55.1444 48.1635 55.2498 48.3376C55.7093 49.0972 56.1614 49.8621 56.6404 50.6091C56.9677 51.1203 57.3361 51.6046 57.6866 52.1009C57.7523 52.1947 57.8226 52.2847 57.8891 52.3777C57.9095 52.4126 57.9181 52.4532 57.9136 52.4933C57.9092 52.5335 57.8919 52.5712 57.8644 52.6009C57.8537 52.6136 57.8407 52.6242 57.8259 52.6319C57.8111 52.6396 57.795 52.6443 57.7784 52.6457C57.7618 52.6472 57.745 52.6454 57.7292 52.6403C57.7133 52.6353 57.6985 52.6272 57.6858 52.6165C57.6209 52.5682 57.5629 52.5114 57.5132 52.4476C57.0338 51.8535 56.5944 51.2284 56.198 50.5764C56.1898 50.5637 56.1794 50.5518 56.1569 50.5213C56.1569 50.5883 56.1517 50.6359 56.1487 50.6835C56.1233 51.0771 56.074 51.464 55.8887 51.8219C55.7602 52.0734 55.4852 52.1299 55.2752 51.9417C55.2027 51.8851 55.1414 51.8063 55.0592 51.717V51.7125Z" fill="#ffffff"/>
                <path d="M17.1792 39.9062C7.38578 39.9062 0 47.4284 0 57.4022C0 67.3759 7.38578 74.8989 17.1792 74.8989C26.9726 74.8989 34.3584 67.3767 34.3584 57.4022C34.3584 47.4277 26.9726 39.9062 17.1792 39.9062ZM17.1792 66.1141C12.6793 66.1141 9.15451 62.2875 9.15451 57.4022C9.15451 52.5169 12.6793 48.691 17.1792 48.691C21.6791 48.691 25.2039 52.5176 25.2039 57.4022C25.2039 62.2868 21.6791 66.117 17.1792 66.117V66.1141Z" fill="#ffffff"/>
                <path d="M54.1628 34.9956C63.957 34.9956 71.3427 27.4742 71.3427 17.4997C71.3427 7.52515 63.957 0 54.1628 0C44.3687 0 36.9844 7.52143 36.9844 17.4959C36.9844 27.4704 44.3694 34.9956 54.1628 34.9956ZM54.1628 8.78777C58.6635 8.78777 62.1882 12.6143 62.1882 17.4997C62.1882 22.385 58.6635 26.2078 54.1628 26.2078C49.6621 26.2078 46.1396 22.3805 46.1396 17.4959C46.1396 12.6114 49.6629 8.78405 54.1628 8.78405V8.78777Z" fill="#ffffff"/>
            </svg>
        </a>	
      </footer>
    </div>
    
    <div class="pre-loader h-full w-full fixed fixed top-0 left-0 z-50 transition duration-200 ease-in-out hidden" data-preloader>
      <div class="opacity-75 bg-white w-full h-full absolute top-0 left-0 z-20"></div>
      <div class="relative z-30 h-full w-full flex justify-center items-center text-lg">Loading</div>
    </div>

    {{ tracking_code }}
    {% render 'address-validator' %}
  </body>
</html>
