<div data-section-id="{{ section.id }}" data-section-type="featured-sale-section" class="mt-100">
    <div class="flex bg-danger pl-25 py-50 pr-5">
        <div class="w-1/4 mx-25 flex justify-center items-center">
            <div class="block">
                {%- if section.settings.title != blank -%}
                <h1 class="uppercase text-superlarge font-black leading-24 text-white">{{ section.settings.title }}</h1>
                {%- endif -%}
                {%- if section.settings.caption != blank -%}
                <p class="text-lg text-white">{{ section.settings.caption }}</p>
                {%- endif -%}
                {%- if section.settings.cta_txt != blank or section.settings.cta_url != blank -%}
                    <div class="mt-12 block">
                        <a href="{{ section.settings.cta_url }}" title="{{ section.settings.cta_txt }}" class="uppercase text-white border block border-white font-black text-lg py-3 px-16 tracking-widest">{{ section.settings.cta_txt }}</a>
                    </div>
                {%- endif -%}
            </div>
        </div>
        <div class="w-3/4 pl-25">
            {%- capture width_classes -%}lg:w-1/3 md:w-1/3 sm:w-1/2 w-full{%- endcapture -%}
            {%- assign collection = collections[section.settings.collection] -%}
            {%- assign product_limit = section.settings.limit -%}
            <div class="mt-50 pr-slideshow block">
            {% for product in collection.products limit: product_limit %}
                {% include 'product-card', product: product, widths: width_classes %}
            {% else %}
                {% for i in (1..product_limit) %}
                    <div class="grid-item slideshow-item lg:w-1/3 md:w-1/3 sm:w-1/2 w-full">
                        <div class="grid-item-inner sm:ml-50 sm:mr-0 mx-5 mb-8 bg-white p-4">
                            <a href="#" class="block relative h-0" style="padding-bottom: 139.9%;">
                                {% comment %} <img src="{{ 'product-placeholder-img.jpg' | asset_url }}" alt="Placeholder"> {% endcomment %}
                                <img id="{{ img_id }}"
                                    class="lazyload w-full h-auto absolute top-0 left-0"
                                    alt="{{ preview_image.alt }}"
                                    data-src="{{ 'product-image-250x350-1.png' | asset_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ preview_image.aspect_ratio }}"
                                    data-sizes="auto"
                                    data-image>
                            </a>
                            <div class="mt-8">
                                <h1 class="uppercase text-base font-bold mb-1 text-black">Product name</h1>
                                <div class="text-danger text-sm font-bold">From ₱ 2,499.99</div>
                                <button class="w-full uppercase text-black bg-transparent border border-gray mt-5 py-4 px-5" type="submit">Add to bag - ₱ 1,499.99</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Featured Sale",
        "settings": [
            {
                "type": "header",
                "content": "Text Content"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Look at me"
            },
            {
                "type": "textarea",
                "id": "caption",
                "label": "Caption",
                "default": "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni."
            },
            {
                "type": "header",
                "content": "Products"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Select collection"
            },
            {
                "type": "range",
                "id": "limit",
                "label": "Product to show",
                "min": 1,
                "max": 12,
                "step": 1,
                "default": 12
            },
            {
                "type": "header",
                "content": "CTA"
            },
            {
                "type": "text",
                "id": "cta_txt",
                "label": "CTA Text",
                "default": "Shop all sale"
            },
            {
                "type": "url",
                "id": "cta_url",
                "label": "CTA URL"
            }
        ],
        "presets": [
            {
                "name": "Featured Sale",
                "category": "Homepage Layout"
            }
        ]
    }
{% endschema %}
